<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .form {
            display: flex;
            flex-direction: column;
            margin: 20px;
        }
        .form label {
            margin: 10px;
            font-size: 20px;
        }
        button {
            width: 100px;
        }
    </style>
</head>
<div>
    <form action="/login" method="post" class="form">
        <label>FirstName: <input type="text"  name="firstName"></label>
        <label>LastName: <input type="text" name="lastName"></label>
        <label>Email: <input type="email" name="email"></label>
        <label>Password: <input type="text" name="password"></label>
        <label>Age: <input type="text" name="age"></label>
        <label>City: <input type="text" name="city"></label>
        <button>Send</button>
    </form>
</div>
</body>
</html>